.container{
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
    padding: 0 45px;
        box-shadow: 0 -5px 40px 7px rgba(255, 255, 255, 0.08);

}

@media (max-width: 576px) {
    .container {
        padding: 0;
    }

    header{
        padding-top: 0;
    }
}  