footer{
    // background: #323032;
    .container{
        padding: 10px;
        border-top: 1px solid white;
    }
    
    h1{
        color: white;
        // font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 24.01px;
        letter-spacing: 0%;
        text-align: center;
        
    }
}